@inject ICostumerService _costumerService
@inject DialogService DialogService

<RadzenTemplateForm TItem="CostumerModel"
                    Data="@Costumer"
                    Submit="OnSubmit">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <RadzenLabel Text="Nombre Completo"></RadzenLabel>
                <RadzenTextBox Name="Name" @bind-Value="@Costumer.FullName" class="form-control" />
                <RadzenRequiredValidator Component="Name" Text="Introducir nombre" Popup="true" Style="position: absolute" />
            </div>
            <div class="form-group">
                <RadzenLabel Text="Teléfono" class="mt-3"></RadzenLabel>
                <RadzenTextBox Name="Phone" @bind-Value="@Costumer.Phone" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <RadzenLabel Text="Dirección"></RadzenLabel>
                <RadzenTextBox Name="Address" @bind-Value="@Costumer.Address" class="form-control" />
            </div>
            <div class="form-group">
                <RadzenLabel Text="Cédula" class="mt-3"></RadzenLabel>
                <RadzenTextBox Name="NumberId" @bind-Value="@Costumer.NumberId" class="form-control" />
                <RadzenRequiredValidator Component="NumberId" Text="Introducir cédula" Popup="true" Style="position: absolute" />
            </div>
        </div>
    </div>
    <div class="form-group text-center mt-3">
        <RadzenButton Text="@ButtonTitle" ButtonType="Radzen.ButtonType.Submit" Style="background-color:#003053; color: #FFF" />
    </div>
</RadzenTemplateForm>

@code {
    
}
