@page "/"

<h3>Resumen</h3>

<hr />

<div class="row">
    <div class="col-6">
        <h5>Ventas de los últimos 30 días</h5>
        <RadzenChart class="mb-3">
            <RadzenLineSeries Smooth="true" Data="SalesLast30Days" CategoryProperty="SaleDate" Title="Ganancias" ValueProperty="Amount" RenderingOrder="1">
                <RadzenSeriesTrendLine Visible="true" Stroke="var(--rz-danger-dark)" LineType="LineType.Dashed" />
                <RadzenMarkers MarkerType="MarkerType.Circle" />
                <RadzenSeriesDataLabels Visible="true" />
            </RadzenLineSeries>
            <RadzenValueAxis Formatter="@FormatAsUSD">
                <RadzenGridLines Visible="true" />
            </RadzenValueAxis>
        </RadzenChart>
    </div>

    <div class="col-6">
        <h5>Ventas de los últimos 12 meses</h5>
        <RadzenChart class="mb-3">
            <RadzenLineSeries Smooth="true" 
                              Data="SalesLast12Month" 
                              CategoryProperty="SaleDate" 
                              Title="Ganancias" 
                              ValueProperty="Amount" 
                              RenderingOrder="1">

                <RadzenSeriesTrendLine Visible="true" Stroke="var(--rz-danger-dark)" LineType="LineType.Dashed" />
                <RadzenMarkers MarkerType="MarkerType.Circle" />
                <RadzenSeriesDataLabels Visible="true" />

            </RadzenLineSeries>
            <RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
            <RadzenValueAxis Formatter="@FormatAsUSD">
                <RadzenGridLines Visible="true" />
            </RadzenValueAxis>
        </RadzenChart>
    </div>
</div>



<h5 class="mb-2">Historial</h5>

<div style="display: flex; align-items: center;" class="mb-2">
    <span style="margin-right: 1rem;">Buscar:</span>
    <RadzenTextBox Placeholder="Presione ENTER al buscar" Change="@(async(e) => await GetBillingsWithSearch(e))" />
    <span style="margin-right: 1rem; margin-left: 1rem">Filtrar por fechas:</span>
    <RadzenDatePicker Placeholder="Fecha inicial" @bind-Value="BillingsParamsModel.InitialDate" DateFormat="dd/MM/yyyy"/>
    <span style="margin: 0 0.5rem;">hasta</span>
    <RadzenDatePicker Placeholder="Fecha final" @bind-Value="BillingsParamsModel.FinalDate" DateFormat="dd/MM/yyyy" />

    <RadzenButton style="margin-left: 0.5rem" Icon="search" ButtonStyle="ButtonStyle.Success" Click="@(async() => await LoadWithParams())" />
</div>

<RadzenDataGrid Data="Billings"
                TItem="BillingModel"
                Responsive="true"
                AllowColumnResize="true"
                ExpandMode="DataGridExpandMode.Single">
    <EmptyTemplate>
        <div class="text-center">
            <i style="font-size:3rem" class="text-muted bx bx-search-alt mt-2"></i>
            <p class="text-muted">La lista está vacía.</p>
        </div>
    </EmptyTemplate>
    <Template Context="billingItems">
        <RadzenCard Style="margin-bottom:20px">
            productos registrados por el cliente: <b>@billingItems.Costumer!.FullName (@billingItems.BillingItems.Count())   </b>
        </RadzenCard>

        <RadzenDataGrid Data="@billingItems.BillingItems" AllowColumnResize Responsive TItem="BillingItemModel" AllowPaging PageSize="5">
             <Columns>
                 <RadzenDataGridColumn TItem="BillingItemModel" Property="Code" Title="Codigo" />
                 <RadzenDataGridColumn TItem="BillingItemModel" Property="Description" Title="Descripción" />
                 <RadzenDataGridColumn TItem="BillingItemModel" Property="Quantity" Title="Cantidad" />
                 <RadzenDataGridColumn TItem="BillingItemModel" Title="Precio">
                     <Template Context="price">
                         @price.Price.ToString("C")
                     </Template>
                 </RadzenDataGridColumn>
                 <RadzenDataGridColumn TItem="BillingItemModel" Title="Impuesto">
                     <Template Context="price">
                         @price.Tax.ToString("C")
                     </Template>
                 </RadzenDataGridColumn>
                 <RadzenDataGridColumn TItem="BillingItemModel" Title="Importe">
                     <Template Context="price">
                         @price.Amount.ToString("C")
                     </Template>
                 </RadzenDataGridColumn>
                 <RadzenDataGridColumn TItem="BillingItemModel" Property="CreatedAt" Title="Fecha de creación" />
            </Columns>
        </RadzenDataGrid>
    </Template>

    <Columns>
        <RadzenDataGridColumn TItem="BillingModel"
                              Property="InvoiceNumber"
                              Title="N. Factura">
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="BillingModel"
                              Property="Costumer.FullName"
                              Title="Cliente">
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="BillingModel"
                              Property="SellerName"
                              Title="Vendedor">
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="BillingModel"
                              Title="Precio total">
            <Template Context="totalPrice">
                @totalPrice.TotalPriceWithTax.ToString("C")
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="BillingModel"
                              Title="Estatus">
            <Template Context="status">
                @{
                    var statusName = (BillingStatus)status.BillingStatus;
                }
                @switch (statusName)
                {
                    case BillingStatus.Pagado:
                        <RadzenBadge BadgeStyle="BadgeStyle.Success" Shade="Shade.Lighter" class="price-badge" Text="@statusName.ToString()" />
                        break;
                    case BillingStatus.Pendiente:
                        <RadzenBadge BadgeStyle="BadgeStyle.Danger" Shade="Shade.Lighter" class="price-badge" Text="@statusName.ToString()" />
                        break;
                }
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="BillingModel"
                              Property="CreatedAt"
                              Title="Fecha de creación">
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<RadzenPager PageSize="BaseResponse.PageSize"
             Count="BaseResponse.TotalItems"
             PageChanged="@(async(e) => await PageIndexChanged(e.PageIndex))"
             PageSizeOptions="PageSizeOptions"
             PageSizeText="registros por página"
             HorizontalAlign="HorizontalAlign.Left"
             PageSizeChanged="@(async(e) => await PageSizeChanged(e))"
             ShowPagingSummary="true"
             PagingSummaryFormat="@pagingSummaryFormat">
</RadzenPager>

<div class="row mb-5">
    <div class="col-8"></div>
    <div class="col-4">
        <RadzenDataGrid Data="BillingDataGridDetails" @ref="gridDetails" AllowColumnResize Responsive TItem="BillingDataGridDetails">
            <EmptyTemplate>
                 <div class="text-center">
                     <i style="font-size:3rem" class="text-muted bx bx-search-alt mt-2"></i>
                     <p class="text-muted">La lista está vacía.</p>
                 </div>
            </EmptyTemplate>
            <Columns>
                <RadzenDataGridColumn TItem="BillingDataGridDetails"
                                      Property="Currency"
                                      Title="Moneda"/>

                <RadzenDataGridColumn TItem="BillingDataGridDetails"
                                      Title="Monto total">
                        <Template Context="amount">
                            @amount.Amount.ToString("C")
                        </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>

@if (IsLoading)
{
    <LoadingOverlay />
}


@code {
    
}

<style>
    .rz-steps-number{
        background-color: #003053 !important;
        color: #E0E0E0 !important;
    }

    .rz-steps-title{
        color: #000 !important;
    }
</style>
