@inject IInventoryService _inventoryService;
@inject IBillingService _billingService;
@inject DialogService DialogService;

<EditForm Model="Billing" OnValidSubmit="OnSubmit">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <RadzenLabel Text="Tipo de facturación" />
                <RadzenDropDown class="form-control"
                                Disabled
                                @bind-Value="Billing.BillingType"
                                TextProperty="Name"
                                ValueProperty="Id" 
                                Data="BillingTypeDropdown.GetBillingTypeDropdowns()"/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <RadzenLabel Text="Introducir el nombre del cliente" />
                <RadzenTextBox class="form-control"
                               @bind-Value="Billing.FullName"
                               Placeholder="Nombre del cliente" />
            </div>
        </div>
    </div>
    <div class="row">
        @if (Billing.BillingType == 1)
        {
            <div class="col-md-6 mt-3">
                <div class="form-group">
                    <RadzenLabel Text="Selecciona productos" />
                    <RadzenDropDown class="form-control"
                                TValue="List<Inventory>"
                                TextProperty="Name"
                                Data="Inventories"
                                ValueChanged="@((e) => OnInventorySelected(e))"
                                Multiple="true"
                                FilterOperator="StringFilterOperator.StartsWith"
                                AllowFiltering="true" 
                                SearchTextChanged="@(async(e) => await GetInventoryBySearch(e))" />
                </div>
            </div>
        }

        <div class="container mt-4">
            <RadzenLabel Style="font-size: 20px" Text="Productos a facturar" />

            <hr />
            <RadzenDataGrid TItem="BillingItemModel"
                            Data="BillingItems"
                            AllowPaging
                            PageSize="5" @ref="grid">
                <Columns>
                    <RadzenDataGridColumn TItem="BillingItemModel"
                                          Title="Producto Id">
                        <Template Context="data">
                            @data.ItemId.ToString("D3")
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="BillingItemModel"
                                          Property="ItemName"
                                          Title="Producto"
                                          Width="250px" />

                    <RadzenDataGridColumn TItem="BillingItemModel"
                                          Property="Price"
                                          Title="Precio" />

                    <RadzenDataGridColumn TItem="BillingItemModel"
                                          Title="Acciones"
                                          TextAlign="TextAlign.Center">
                        <Template Context="price">
                            <RadzenButton ButtonStyle="ButtonStyle.Warning" Text="$" Click="@(async() => await OpenPrecioFormDialog(price.ItemId, price.Price))" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
            <div class="row mt-3">
                <div class="col-md-6">
                    <RadzenLabel Text="Precio total: " />
                    <RadzenLabel Text="@BillingItems.Sum(x => x.Price).ToString()" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group text-center mt-3">
        <RadzenButton Text="Modificar" ButtonType="ButtonType.Submit" Style="background-color:#003053; color: #FFF" />
    </div>
</EditForm>

    @code {
    [Parameter] public BillingModel BillingParameter { get; set; } = new BillingModel();

    private BillingModel Billing = new BillingModel();
    private List<VehicleEntrance> VehicleEntrance = new List<VehicleEntrance>();
    private List<Inventory> Inventories = new List<Inventory>();
    private List<Inventory> InventoriesSelected = new List<Inventory>();

    RadzenDataGrid<BillingItemModel> grid;

    private int VehicleSelectedId { get; set; }
    private List<BillingItemModel> BillingItems { get; set; } = new List<BillingItemModel>();

    private async Task OnSubmit()
    {
        Billing.BillingItems = BillingItems;

        var action = await _billingService.UpdateBilling(Billing);

        if (!action.IsSuccessStatusCode)
        {
            await SweetAlertServices.ShowErrorAlert("Ocurrió un error", await action.Content.ReadAsStringAsync());
        }
        else
        {
            var closeReturn = action != null ? true : false;

            DialogService.Close(closeReturn);
        }
    }

    // inventarios
    private async Task LoadInventories()
    {
        var result = await _inventoryService.GetInventories(1, 50);

        Inventories = result.Items;
    }
    private async Task GetInventoryBySearch(string searchText)
    {
        var result = await _inventoryService.GetInventoryWithSearch(searchText, 1, 100);

        Inventories = result.Items;
    }
    private void OnInventorySelected(object inventorySelected)
    {
        InventoriesSelected = (List<Inventory>)inventorySelected;

        foreach (var i in InventoriesSelected)
        {
            BillingItems.Add(new BillingItemModel
                {
                    ItemName = i.Name,
                    ItemId = i.Id,
                    Price = i.Price
                });
        }

        StateHasChanged();

        grid.Reload();
    }

    // precios
    private async Task OpenPrecioFormDialog(int id, decimal? price = 0)
    {
        var action = await DialogService.OpenAsync<PriceForm>("Ingresar precio"
                        , parameters: new Dictionary<string, object>
                            {
                            { "PriceParameter",  price }
                            }
                        , options: new DialogOptions
                            {
                                Width = "280px"
                            });

        if (action != 0)
        {
            BillingItems.FirstOrDefault(x => x.ItemId == id).Price = (decimal)action;

            await grid.Reload();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Billing = BillingParameter;
        BillingItems = Billing.BillingItems;

        if(BillingParameter.BillingType == 1)
        {
            await LoadInventories();

            foreach (var i in Billing.BillingItems)
            {
                InventoriesSelected.Add(new Inventory
                {
                    Id = i.ItemId,
                    Name = i.ItemName,
                    Price = (decimal)i.Price
                });

                StateHasChanged();
            }
        }

        StateHasChanged();
    }
}