<RadzenTemplateForm Data="Billing" TItem="BillingModel" Submit="@(async() => await OnSubmit(1))">
    <div class="row mb-2">
        <RadzenFieldset Text="Cliente">
            <div class="row">
                <div class="col-md-7">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                        <RadzenLabel Text="Codigo:" Style="width: 100px;" />
                        <RadzenTextBox @bind-Value="CostumerId" Placeholder="Codigo del cliente" Style="width: 200px;" />
                        <RadzenButton Icon="search" ButtonStyle="ButtonStyle.Light" class="btn btn-light ml-2" Click="GetCostumer"/>
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="mt-2">
                        <RadzenLabel Text="Nombre:" Style="width: 100px;" />
                        <RadzenTextBox @bind-Value="Billing.FullName" Placeholder="Nombre del cliente" Style="width: 200px;" />
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="mt-2">
                        <RadzenLabel Text="Telefono:" Style="width: 100px;" />
                        <RadzenTextBox @bind-Value="Billing.Phone" Placeholder="Número del cliente" Style="width: 200px;" />
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="mt-2">
                        <RadzenLabel Text="Dirección:" Style="width: 100px;" />
                        <RadzenTextBox @bind-Value="Billing.Address" Placeholder="Dirección del cliente" Style="width: 200px;" />
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="mt-2">
                        <RadzenLabel Text="Cédula:" Style="width: 100px;" />
                        <RadzenTextBox @bind-Value="Billing.NumberId" Placeholder="Cédula del cliente" Style="width: 200px;" />
                    </RadzenStack>
                </div>
                <div class="col-md">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="mt-2">
                        <RadzenLabel Text="Fecha:" Style="width: 100px;" />
                        <RadzenDatePicker @bind-Value="Billing.CreatedAt" Placeholder="Fecha" Style="width: 200px;" Disabled="true"/>
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="mt-2">
                        <RadzenLabel Text="N. Factura:" Style="width: 100px;" />
                        <RadzenTextBox @bind-Value="Billing.InvoiceNumber" Placeholder="Número de factura" Style="width: 200px;" Disabled="true"/>
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="mt-2">
                        <RadzenLabel Text="Vendedor:" Style="width: 100px;" />
                        <RadzenTextBox @bind-Value="SellerName" Placeholder="Nombre del vendedor" Style="width: 200px;" Disabled="true"/>
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="mt-2">
                        <RadzenLabel Text="Metodo de pago:" Style="width: 100px;" />
                        <RadzenDropDown @bind-Value="Billing.PaymentMethod"
                                        TextProperty="Name"
                                        ValueProperty="Id"
                                        Data="PaymentMethods"   
                                        Placeholder="Seleccione metodo de pago" 
                                        Style="width: 200px;"/>
                    </RadzenStack>
                </div>
            </div>

        </RadzenFieldset>
    </div>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="mb-2">
        <RadzenDropDown class="form-control"
                        TextProperty="Description"
                        Data="Inventories"
                        @bind-Value="BillingInventoriesItems"
                        Change="@(() => OnDropDowmChange())"
                        Multiple="true"
                        FilterOperator="Radzen.StringFilterOperator.StartsWith"
                        AllowFiltering="true"
                        Placeholder="Seleccione productos"
                        Style="width:250px"
                        SearchTextChanged="@(async(e) => await GetInventoryWithSearch(e))" />

        <RadzenDropDown class="form-control"
                        TextProperty="Description"
                        Data="BillingsServices"
                        @bind-Value="BillingServicesItems"
                        Change="@(() => OnDropDowmChange())"
                        Multiple="true"
                        FilterOperator="Radzen.StringFilterOperator.StartsWith"
                        AllowFiltering="true"
                        Placeholder="Seleccione servicios"
                        Style="width:250px; margin-left:-11px;"
                        SearchTextChanged="@(async(e) => await GetBillingsServicesWithSearch(e))" />
    </RadzenStack>
    <div class="row mb-2">
        <RadzenDataGrid TItem="BillingItemModel"
                        Data="BillingItems"
                        AllowPaging
                        PageSize="5" @ref="grid"
                        AllowColumnResize
                        Responsive>
            <Columns>
                <RadzenDataGridColumn TItem="BillingItemModel"
                                      Property="Code"
                                      Title="Codigo">
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="BillingItemModel"
                                      Property="Description"
                                      Title="Descripción"
                                      Width="220px" />

                <RadzenDataGridColumn TItem="BillingItemModel"
                                      Property="Quantity"
                                      Title="Cantidad">
                </RadzenDataGridColumn>
                
                <RadzenDataGridColumn TItem="BillingItemModel"
                                      Title="Precio">
                        <Template Context="price">
                            @price.Price.ToString("C")
                        </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="BillingItemModel"
                                      Title="Impuesto"
                                      Property="Taxes">
                        <Template Context="taxes">
                            @taxes.Tax.ToString("C")
                        </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="BillingItemModel"
                                      Title="Importe"
                                      Property="Amount">
                        <Template Context="ammount">
                            @ammount.Amount.ToString("C")
                        </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="BillingItemModel"
                                      Title="Acciones"
                                      TextAlign="TextAlign.Center"
                                      Width="220px">
                    <Template Context="billingItem">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Click="@(async() => await DeleteBillingItem(billingItem))" />
                        <RadzenButton ButtonStyle="ButtonStyle.Success" Text="#" Click="@(async() => await OpenQuantityormDialog(billingItem.Quantity, billingItem.Code))" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
    <div class="row">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    <RadzenLabel Text="Pagó con:" Style="width: 100px; margin-right:-40px;" />
                    <RadzenNumeric Format="C" TValue="decimal" ValueChanged="@((e) => CalcularDevolucion(e))" Placeholder="Pagó con" Style="width: 200px;" />
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="mt-2">
                    <RadzenLabel Text="Devolver:" Style="width: 100px; margin-right:-40px;" />
                    <RadzenTextBox @bind-Value="ReturnMoney" Disabled="true" Style="width: 200px;" />
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="mt-2">
                    <RadzenLabel Text="Neto:" Style="width: 100px; margin-right:-40px;" />
                    <RadzenNumeric Format="C" @bind-Value="Billing.TotalPriceWithTax" Disabled="true" Style="width: 200px;" />
                </RadzenStack>
            </div>
            <div class="col-md">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    <RadzenLabel Text="Total:" Style="width: 100px; margin-right:-40px;" />
                    <RadzenNumeric Format="C" @bind-Value="@Billing.TotalPrice" Disabled="true" Style="width: 200px;" />
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" class="mt-2">
                    <RadzenLabel Text="Itbis:" Style="width: 100px; margin-right:-40px;" />
                    <RadzenNumeric Format="C" @bind-Value="Billing.TotalTax" Disabled="true" Style="width: 200px;" />
                </RadzenStack>
            </div>
        </RadzenStack>
    </div>
    <div class="form-group text-center mt-3">
        <RadzenButton Text="Solo guardar" ButtonType="Radzen.ButtonType.Submit" Style="background-color:#003053; color: #FFF" />
        <RadzenButton Text="Guardar e imprimir" class="ml-3" ButtonType="Radzen.ButtonType.Button" ButtonStyle="ButtonStyle.Warning" Click="@(() => OnSubmit(2))" />
    </div>
</RadzenTemplateForm>

@code {
    
}