<div class="@DashboardClass">
    <div class="container body-color">
        <div class="top-menu">
            <div class="logo">
                <span>@Configuration.APP_NAME</span>
            </div>
            <div class="toggle" @onclick="ToggleMenu">
                @if (IsMenuOpen)
                {
                    <i class="bx bx-x"></i>
                }
                else
                {
                    <i class="bx bx-menu"></i>
                }
            </div>
        </div>

        <div class="menu"> 
            @foreach (var (menuItem, index) in MenuConfiguration
                        .MenuItems!
                        .Select((item, index) => (item, index)))
            {
                @if (menuItem.Role.Contains(Role))
                {
                    <div data-toggle="tooltip" 
                         title="@menuItem.Name" 
                         class="enlace" 
                         style="background: @(index == ActiveLinkIndex ? "#184463" : "")" 
                         @onclick="@(() => NavigateTo(menuItem.Url, index))">
                        <i class="@menuItem.Icon"></i>
                        <span>@menuItem.Name</span>
                    </div>
                }
            }
            
            <div class="enlace" style="background: #184463" @onclick="LogOut">
                <i class="bx bx-log-out"></i>
                <span>Salir</span>
            </div>
        </div>
    </div>
</div>
