@inject NavigationManager navigationManager;

<div class="@DashoardClass">
    <div class="container body-color">
        <div class="top-menu">
            <div class="logo">
                <span>@Configuration.APP_NAME</span>
            </div>
            <div class="toggle" @onclick="ToggleMenu">
                @if (IsMenuOpen)
                {
                    <i class="bx bx-x"></i>
                }
                else
                {
                    <i class="bx bx-menu"></i>
                }
            </div>
        </div>

        <div class="menu">
            <div class="enlace" @onclick="@(() => NavigateTo("inventory/index"))">
                <i class="bx bx-store-alt"></i>
                <span>Inventario</span>
            </div>
            <div class="enlace" @onclick="@(() => NavigateTo("inventory/index"))">
                <i class="bx bx-category"></i>
                <span>Categoría</span>
            </div>
            <div class="enlace" @onclick="@(() => NavigateTo("vehicleEntrance/index"))">
                <i class="bx bx-car"></i>
                <span>Vehiculos Entradas</span>
            </div>
            <div class="enlace" @onclick="@(() => NavigateTo("billing/index"))">
                <i class="bx bxs-badge-dollar"></i>
                <span>Facturación</span>
            </div>
        </div>
    </div>
</div>

@code {
    private bool IsMenuOpen = false;
    private string DashoardClass = "menu-dashboard";

    private void ToggleMenu()
    {
        IsMenuOpen = !IsMenuOpen;
        DashoardClass = IsMenuOpen ? "menu-dashboard open" : "menu-dashboard";
    }

    private void NavigateTo(string url)
    {
        IsMenuOpen = !IsMenuOpen;
        DashoardClass = IsMenuOpen ? "menu-dashboard open" : "menu-dashboard";
        navigationManager.NavigateTo(url);
    }
}
