@page "/service/index"

<h3>Servicios</h3>

<hr />

<RadzenButton Text="AGREGAR" class="mb-3 mt-3" Style="background-color:#003053; color: #FFF" Click="@(async()=> await OpenAddDialogForm("Registar servicio"))" />
<RadzenTextBox Placeholder="Presiona ENTER al buscar" Change="@(async(e) => await GetServicesWithSearch(e))" />

<RadzenDataGrid Data="BillingsServices"
                TItem="BillingServiceModel"
                Responsive="true"
                AllowColumnResize="true">
    <EmptyTemplate>
        <div class="text-center">
            <i style="font-size:3rem" class="text-muted bx bx-search-alt mt-2"></i>
            <p class="text-muted">La lista está vacía.</p>
        </div>
    </EmptyTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="BillingServiceModel"
                              Title="Identificador">
            <Template Context="data">
                @data.Id.ToString("D3")
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="BillingServiceModel"
                              Title="Nombre"
                              Property="Name">
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="BillingServiceModel"
                              Property="Description"
                              Title="Descripción">
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="BillingServiceModel"
                              Property="Price"
                              Title="Precio">
            <Template Context="price">
                @price.Price.ToString("C")
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="BillingServiceModel"
                              Title="Fecha de Creación"
                              Width="220px">
            <Template Context="date">
                @date.CreatedAt.ToString("dd/MM/yyyy hh:mm")
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="BillingServiceModel"
                              Title="Acciones"
                              Context="data"
                              TextAlign="TextAlign.Center"
                              Visible="IsAdmin">
            <Template>
                <RadzenButton ButtonStyle="ButtonStyle.Warning" Icon="edit" Click="@(async() => await OpenEditDialogForm("Editar servicio", data))" />
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Click="@(async() => await DeleteService(data.Id))" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<RadzenPager PageSize="BaseResponse.PageSize"
             Count="BaseResponse.TotalItems"
             PageChanged="@(async(e) => await PageIndexChanged(e.PageIndex))"
             PageSizeOptions="PageSizeOptions"
             PageSizeText="registros por página"
             HorizontalAlign="HorizontalAlign.Left"
             PageSizeChanged="@(async(e) => await PageSizeChanged(e))"
             ShowPagingSummary="true"
             PagingSummaryFormat="@pagingSummaryFormat">
</RadzenPager>


@if (IsLoading)
{
    <LoadingOverlay />
}

@code {
   
}

