<RadzenTemplateForm TItem="BillingServiceModel"
                    Data="@BillingService"
                    Submit="OnSubmit">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <RadzenLabel Text="Nombre"></RadzenLabel>
                <RadzenTextBox Name="Name" @bind-Value="@BillingService.Name" class="form-control" />
                <RadzenRequiredValidator Component="Name" Text="Introducir nombre" Popup="true" Style="position: absolute" />
            </div>
            <div class="form-group">
                <RadzenLabel Text="Precio"></RadzenLabel>
                <RadzenNumeric Name="Price" @bind-Value="@BillingService.Price" class="form-control" />
                <RadzenRequiredValidator Component="Price" Text="Introducir precio" Popup="true" Style="position: absolute" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <RadzenLabel Text="Descripción"></RadzenLabel>
                <RadzenTextBox Name="Description" @bind-Value="@BillingService.Description" class="form-control" />
                <RadzenRequiredValidator Component="Description" Text="Introducir descripción" Popup="true" Style="position: absolute" />
            </div>
        </div>
    </div>
    <div class="form-group text-center mt-3">
        <RadzenButton Text="@ButtonTitle" ButtonType="Radzen.ButtonType.Submit" Style="background-color:#003053; color: #FFF" />
    </div>
</RadzenTemplateForm>

@code {
    
}
